
@model GST_Billing.Models.ItemTaxesManagement

<h4>Add Tax</h4>
<form id="TaxForm">
    <div class="row">
        <div class="input-field col m6 s12">
            @Html.TextBoxFor(m => m.Tax_Name, new { @id = "TaxName" })
            <label>Unit Name*</label>
        </div>
        <div class="input-field col m6 s12">
            @Html.TextBoxFor(m => m.GST, new { @id = "Gst", @type = "number" })
            <label>GST*</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button class="btn cyan waves-effect waves-light right" id="btnAddTax" type="button" name="action">
                Submit
                <i class="material-icons right">send</i>
            </button>
            <a href="#!" class="red btn btn-reset modal-action modal-close right mr-1"><i class="material-icons left">clear</i>Cancel</a>
        </div>
    </div>
</form>

@using System.Web.Optimization
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="../../../app-assets/js/vendors.min.js"></script>

<script>

    $(document).ready(function () {
        $("#btnAddTax").click(function (e) {
            //Serialize the form datas.
            var valdata = $("#TaxForm").serialize();

            if ($("#TaxName").val() == "") {
                $("#TaxName").focus();
            }
            else
                if ($("#Gst").val() == "") {
                    $("#Gst").focus();
                }
                else {

                    $.ajax({
                        url: "/Master/AddNewTax",
                        type: "POST",
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: valdata,
                        dataType: 'json',
                        beforeSend: function () {
                            document.getElementById('dialog').style.display = "none";
                            document.getElementById('loading').style.display = "block";
                        },
                        complete: function () {
                            document.getElementById('dialog').style.display = "block";
                            document.getElementById('loading').style.display = "none";
                        },
                        success: function (response) {
                            $("#PageTaxList").append("<option value='" + response + "'>" + $("#TaxName").val() + " </option>");
                            $("#PageTaxList").val(response);
                            $("#PageTaxList").change();
                            //$("#modal1").modal().hide();
                            $('#modal1').modal('close');
                            $('#dialog').empty();
                            CustomToastCall("The new tax has been addedd");
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
        });
    });
</script>